*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #351FB7;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background: #25167A;
    padding: 40px 60px;
}

h2 {
    font-size: 3em;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.reset {
    padding: 15px 20px;
    color: white;
    background: #F35279;
    border: none;
    border-radius: 20px;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}

.reset:focus {
    color: white;
    background: #02857D;
}

.game {
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background-color: blue; 
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }

  
  .item::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #02857D; 
    transform: rotateY(0deg);
    backface-visibility: hidden; 
  }
  
  .item img {
    width: 100%;
    height: auto;
    backface-visibility: hidden;
    transform: rotateY(180deg); 
  }
  
  .cardFlipped {
    transform: rotateY(180deg); 
  }
  
  .keuzeCorrect {
    transform: rotateY(180deg); 
    /* Optionele stijl om te laten zien dat dit een gematchte kaart is, bijvoorbeeld een groene rand */
    border: 2px solid limegreen;
    pointer-events: none; /* Voorkomt verdere clicks op deze kaarten */
  }

  .scoreBoard {
    position: absolute;
    width: 400px;
    height: 600px;
    border: 40px;
    background-color: #25167A;
    font-size: 2em;
    right: 10px;
    border-radius: 20px;
  }


  .score-box{
    padding: 30px;
    color: white;
  }

  .scoreBoard h1 {
    width: 100%;
    text-align: center;
    color: #F35279;
  }

  .tekstclick{
    font-size: 2em;
    color: white;
  }

 .container h2{
  color: #F35279;
 }
   
 .clickCounter {
  padding: 15px 20px;
  color: white;
  cursor: pointer;
  font-weight: 600;
  font-size: larger;
}